/* body */

body{
    width: min-content;
    background-image: url("./../image/pokedex.jpg");
    margin:0;
    background-size: cover;
    color: white;
}

#FM{
    flex: 1 1 50%;
    align-items: center;
    margin-left: 35%;
    margin-top: 5%;
    padding: 10px;
    background-color: rgba(60, 69, 76, 0.8);
    color : white;
    border: solid 2px black;
    border-radius: 20px;
    width: 250px;

}

#frm{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 250px;
    align-items: center;

}

label{
    display: block;
    flex: 1 1 80%;
    margin: 10px;

}

div{
    flex: 1 1 20%;

}

#btT{
    margin: 5px;
    width: 85px;
    height: 30px;
}

article{
    display: flex;
}
script{
    color: red;
}

textarea {
  resize: none;
}



        /* trainer card */

        #TC{
            list-style: none;
            margin-left: 0.5em;
            margin-top: 0.5em;
            background-color: rgba(60, 69, 76, 0.8);
            color : white;
            border: solid 2px black;
            border-radius: 20px;
            width: 35em;
        }

        #TC div{
            display: flex;
            flex-wrap: wrap;
        }

        #d div{
            flex: 1 1 70em;
        }

        #IM{
            height: 150px;
            padding: 5px;

        }

        #hid{
            visibility: hidden;
        }

aside
{   display: flex;
    flex-direction: column; 
    float: right;
    padding: 5px;
    margin-top: 10px;
    background-color: rgba(60, 69, 76, 0.1);
    position: relative;
    margin-right: 5px;}
        