header{
  background-color: #0f0f0f;
  position: relative;
}

nav ul{
			list-style:none;
			position:absolute;
			top:1px;
			left :20px;

			}
nav li {
			float: left;
	color: #ffffff;
	font-size: 13px;
	font-weight: 600;
  margin: 5px;
			}

nav li a {
			text-decoration:none;
				color: #ffffff;
			}
#active {
  color: red;
}
header img {

      	width: 43px;
        height: 43px;
        margin: 5px;
      	}

